.navbar-brand {
  font-size: large;
}

body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
	height: 100%;
	overflow-y: hidden;
}

.container{
	overflow: hidden;
	width: 25%;
    display: inline-block;
    border: 2px solid gray;
    padding: 4px;
    margin: 8px;
    list-style: none;
    background-color: white;
    text-align: left;
}

header{
	background:#03A9F4;#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}

main
{
    overflow-x: auto;
    text-align: center;
}
.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}
#brandname{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;

}

.btn-info {background-color: #2196F3;
	height:40px;
	width:100px;} /* Blue */
.btn-info:hover {background: #0b7dda;}

.rectangle {
  width: 365px;
  height: 265px;
  border-radius: 9px;
  /*display: inline-block;*/
  background: #f0eded;
  box-shadow: 0px 0px 8px rgba(100,100,100,0.5);
  position: relative;
  margin: 50px;
  border-style: solid;
  border-width: thin;
  .homeLogo();
}

.time {
  width: 365px;
  padding: 10px;
  height: 23px;
  font-family: "High School USA Serif";
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;

}

.awayTeamRect {
  width: 129px;
  height: 187px;
  text-align: right;
}

.awayTeam {
  width: 74.11px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
}

.awayLogo {
  width: 129px;
  height: 129px;
  text-align: right;
}

.awayPrediction {
  width: 87.93px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
}

.homeTeamRect {
  width: 111px;
  height: 187px;
}

.homeTeam {
  width: 89.28px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;

}

.homeLogo {
  width: 111px;
  height: 111px;
}

.homePrediction {
  width: 83px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;

}

.scorePrediction {
  width: 76.64px;
  height: 46px;
  font-family: "High School USA Serif";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
}

li.game {
  width: 25%;
  display: inline-block;
  border: 2px solid gray;
  padding: 4px;
  margin: 8px;
  list-style: none;
  background-color: white;
  text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
}