.navbar-brand,
.navbar-nav a{
  font-size: large;
  font-family: 'SF Sports Night';
  font-size: 2.5em !important;
}

body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
	background-color:#f4f3f3;
	height: 100%;
	overflow-y: auto;
}

.container{
	overflow: hidden;
	width: 25%;
    display: inline-block;
    border: 2px solid gray;
    padding: 4px;
    margin: 8px;
    list-style: none;
    background-color: white;
    text-align: left;
}

header{
	background:#03A9F4;#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}

div {padding-left: 10px; padding-right: 10px; margin: 0px;}

main
{
    overflow-x: auto;
    text-align: center;
}
.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}
#brandname{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;

}

.btn-info {background-color: #2196F3;
	height:40px;
	width:100px;} /* Blue */
.btn-info:hover {background: #0b7dda;}

.rectangle {
  width: 365px;
  height: 265px;
  border-radius: 9px;
  /*display: inline-block;*/
  background: #f0eded;
  box-shadow: 0px 0px 8px rgba(100,100,100,0.5);
  position: relative;
  margin: 40px;
  border-style: solid;
  border-width: thin;
  columns: 2 100px;
  padding: 0px;
}

.time {
  width: 365px;
  height: 23px;
  font-family: "High School USA Serif";
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.time>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

.awayTeamRect {
  width: 129px;
  height: 187px;
  text-align: right;
}

.awayTeam {
  width: 74.11px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  /*float: right;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.awayTeam>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

.awayLogo {
  width: 129px;
  height: 129px;
  /*float: right;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.awayLogo>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}


.awayPrediction {
  width: 87.93px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
 /*float: right;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.awayPrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

.homeTeamRect {
  width: 111px;
  height: 187px;
}

.homeTeam {
  width: 74.11px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  /*float: left;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.homeTeam>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;
}

.homeLogo {
  width: 129px;
  height: 129px;
  /*float: left;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.homeLogo>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;
}

.homePrediction {
  width: 87.93px;
  height: 23px;
  font-family: "High School USA Serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  /*float: left;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.homePrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;

}

.homeScorePrediction {
  width: 76.64px;
  height: 46px;
  font-family: "High School USA Serif";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin:auto;
}

.homeScorePrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;
}

.awayScorePrediction {
  width: 76.64px;
  height: 46px;
  font-family: "High School USA Serif";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin:auto;
}

.awayScorePrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

li.game {
  width: 25%;
  display: inline-block;
  border: 2px solid gray;
  padding: 4px;
  margin: 8px;
  list-style: none;
  background-color: white;
  text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    overflow-y: hidden;
    height: 100%;
    margin: auto;
}