.navbar-brand,
.navbar-nav a{
  font-family: 'Russo One', sans-serif;
  font-size: 1.75em !important;
  /*padding-top:5px !important;*/
  /*padding-bottom:5px !important;*/
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
  float: none;
  vertical-align: center;
  color: var(--font-color) !important;
}

a.previous {
    float: left;
    font-family: 'Russo One', sans-serif;
    margin: auto;
    padding-top: 1%;
}

a.next {
    float: right;
    font-family: 'Russo One', sans-serif;
    margin: auto;
    padding-top: 1%;
}


.navigation{
    width: auto;
    height: auto;
    margin: 1%;
    margin-bottom: 2%;
}

.navbar-brand img {
    height: 45px;
    padding: 0px;

}

.navbar-brand {
    display: inline-block !important;
    padding: 0px !important;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

}

.navbar {
    min-height:45px !important;
    color: var(--primary-color) !important;
    box-shadow: 0px 0px 8px var(--font-color) !important;
    padding: 0px;

}

.bg-light{
    background-color: var(--primary-color) !important;
}

.border{
    border: 1px solid var(--primary-color) !important;
}
body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: var(--bg-color) !important;
	height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
	color: var(--font-color) !important;
}

.container{
	overflow: hidden;
	width: 25%;
    display: inline-block;
    border: 2px solid gray;
    padding: 4px;
    margin: 8px;
    list-style: none;
    background-color: white;
    text-align: left;
}

header{
	background:#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}

div {padding-left: 10px; padding-right: 10px; margin: 0px;}

main
{
    overflow-x: auto;
    text-align: center;
}
.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}


header h2{
	text-align:center;
	color:#fff;

}

.btn-info {background-color: var(--bg-color) !important;
	height:40px;
	width:100px;}
.btn-info:hover {background: #0b7dda;}

.rectangle {
  width: 365px;
  height: 265px;
  border-radius: 9px;
  /*display: inline-block;*/
  background: var(--primary-color) !important;
  box-shadow: 0px 0px 8px var(--font-color) !important;
  position: relative;
  margin: 20px;
  border-style: solid;
  border-width: thin;
  columns: 2 100px;
  padding: 0px;
}

.time {
  width: 365px;
  height: 23px;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.time>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

.awayTeamRect {
  width: 129px;
  height: 187px;
  text-align: right;
}

.awayTeam {
  /*width: 74.11px;*/
  width: auto;
  height: 23px;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  /*float: right;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.awayTeam>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

.awayLogo {
  width: 129px;
  height: 129px;
  /*float: right;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.awayLogo>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}


.winPrediction {
  width: 87.93px;
  height: 23px;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
 /*float: right;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
  color: var(--win-color) !important;
}

.winPrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

.homeTeamRect {
  width: 111px;
  height: 187px;
}

.homeTeam {
  /*width: 74.11px;*/
  width: auto;
  height: 23px;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  /*float: left;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.homeTeam>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;
}

.homeLogo {
  width: 129px;
  height: 129px;
  /*float: left;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
}

.homeLogo>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;
}

.lossPrediction {
  width: 87.93px;
  height: 23px;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  /*float: left;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
  color: var(--loss-color) !important;
}

.lossPrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;

}

.homeScorePrediction {
  width: 76.64px;
  height: 46px;
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin:auto;
}

.homeScorePrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-start;
}

.awayScorePrediction {
  width: 76.64px;
  height: 46px;
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin:auto;
}

.awayScorePrediction>* {
        flex: 1 1 10px;
        align-items: center;
        justify-content: flex-end;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color) !important;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    margin: auto;
    margin-top: 4%;
    justify-content: space-around;
}

.homeTeamMatchup {
  /*max-width:502px;
  height: auto;*/
  width: 400px;
  height: 400px;
  /*max-width:100%;
  height:auto;
  max-height:100%;*/
}

.awayTeamMatchup {
  /*max-width:502px;
  height: auto;*/
  width: 400px;
  height: 400px;
  /*max-width:100%;
  height:auto;
  max-height:100%;*/
}

.teamAbbrWin {
  width: auto;
  height: 82px;
  color: var(--font-color) !important;
  font-family: 'Russo One', sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
  margin: auto;
}

.teamAbbrLoss {
  width: auto;
  height: 82px;
  color: #878686;
  font-family: 'Russo One', sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
  margin: auto;
}

.scoreWinHome {
  width: 96px;
  height: 180px;
  color: var(--font-color) !important;
  font-family: 'Russo One', sans-serif;
  font-size: 144px;
  font-weight: 400;
  line-height: 185px;
  align-self: center;
  /*margin-left: 5%;*/
  margin-right: 3%;
}

.scoreLossHome {
  width: 96px;
  height: 180px;
  color: #878686;
  font-family: 'Russo One', sans-serif;
  font-size: 144px;
  font-weight: 400;
  line-height: 185px;
  align-self: center;
  /*margin-left: 5%;*/
  margin-right: 5%;
}

.scoreWinAway {
  width: 96px;
  height: 180px;
  color: var(--font-color) !important;
  font-family: 'Russo One', sans-serif;
  font-size: 144px;
  font-weight: 400;
  line-height: 185px;
  align-self: center;
  margin-left: 3%;
  /*margin-right: 5%;*/
}

.scoreLossAway {
  width: 96px;
  height: 180px;
  color: #878686;
  font-family: 'Russo One', sans-serif;
  font-size: 144px;
  font-weight: 400;
  line-height: 185px;
  align-self: center;
  margin-left: 5%;
  /*margin-right: 5%;*/
}

.triangle {
  width: 187px;
  height: 187px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  margin-left: 2%;
  border-left: 70px solid var(--font-color);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;

  border-right: 70px solid var(--font-color);
}

:root {
    --primary-color: #f0eded;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #f8f9fa;
    --heading-color: #f8f9fa;
    --win-color: #ff0000;
    --loss-color: #0000ff;
    --button-color: #007bff;
}

[data-theme="dark"] {
    --primary-color: #4d4545;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #393232;
    --heading-color: #8d6262;
    --win-color: #ed8d8d;
    --loss-color: #00e7ff;
    --button-color: #c31717;
}

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
  em {
    margin-left: 10px;
    font-size: 1rem;
  }

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

