<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicting Outcomes of Baseball Games Using Machine Learning Approaches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/">Predicting Outcomes of Baseball Games Using Machine Learning Approaches</a>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>

</body>
</html>