{% extends "layout.html" %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
{% block main %}

  <div>
    <form action="/predict" method="post">
      <div class="form-group" style="display: inline-block; margin: 40px; ">
          <select class="form-control" style="background: var(--primary-color) !important; color: var(--font-color) !important;" name="Home Team" required>
              <option disabled selected value>Home Team</option>
              {% for x in range(30) %}
                  <option value="{{ teams[x] }}">{{ teams[x] }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group" style="display: inline-block; margin: 40px;">
          <select class="form-control" style="background: var(--primary-color) !important; color: var(--font-color) !important;" name="Away Team" required>
              <option disabled selected value>Away Team</option>
              {% for x in range(30) %}
                <option value="{{ teams[x] }}">{{ teams[x] }}</option>
              {% endfor %}
          </select>
      </div>

      <div style="display: inline-block;">
          <button class="btn btn-primary" style="background-color: var(--button-color) !important; border-color: var(--button-color) !important;" type="submit">Predict Matchups</button>
      </div>

  </form>
  </div>

    <div class="flex-container" overflow="visible">
    {% for prediction in predictions%}

            {% if prediction["HomePrediction"] == 1%}

                <div>
                    <div class="teamAbbrWin">{{prediction["HomeTeamAbbr"]}}</div>
                    <div>
                        <img class="homeTeamMatchup" src="{{prediction['HomeLogoPath']}}" alt="Home Logo"/>
                    </div>
                </div>

                <div class="scoreWin">{{prediction["HomeScore"]}}</div>
                <div class="arrow-left" style="align-self: center;">

                </div>


                {% elif prediction["HomePrediction"] == 0%}
                    <div>
                        <div class="teamAbbrLoss">{{prediction["HomeTeamAbbr"]}}</div>
                        <div>
                            <img class="homeTeamMatchup" src="{{prediction['HomeLogoPath']}}" alt="Home Logo"/>
                        </div>
                    </div>

                    <div class="scoreLoss">{{prediction["HomeScore"]}}</div>
                    <div class="arrow-right"style="align-self: center;">

                    </div>

            {% endif %}

            {% if prediction["AwayPrediction"] == 1%}
                <div class="scoreWin">{{prediction["AwayScore"]}}</div>
                <div>
                    <div class="teamAbbrWin">{{prediction["AwayTeamAbbr"]}}</div>
                    <div>
                        <img class="awayTeamMatchup" src="{{prediction['AwayLogoPath']}}" alt="Away Logo"/>
                    </div>

                </div>



                {% elif prediction["AwayPrediction"] == 0%}
                    <div class="scoreLoss">{{prediction["AwayScore"]}}</div>
                    <div>
                        <div class="teamAbbrLoss">{{prediction["AwayTeamAbbr"]}}</div>
                        <div>
                            <img class="awayTeamMatchup" src="{{prediction['AwayLogoPath']}}" alt="Away Logo"/>
                        </div>

                    </div>


            {% endif %}

  {% endfor %}
    </div>
{% endblock %}